.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 60px; /* Adjusted to a smaller header */
  display: flex;
  flex-direction: row; /* Horizontal alignment */
  justify-content: center; /* Centering items horizontally */
  align-items: center; /* Centering items vertically */
  color: white;
}

nav {
  display: flex;
  gap: 20px; /* Space between the links */
}

.nav-link {
  color: #61dafb;
  text-decoration: none;
  font-size: 18px; /* Adjust font size if needed */
}

.nav-link:hover {
  text-decoration: underline;
}
